<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav
    class="text-xl font-semibold  w-full h-[5rem] flex justify-between items-center p-5"
  >
    <img
      src="/ooad/frontend/resources/railwaylogo.png"
      alt="Logo"
      class="h-12 w-12 rounded-full"
    />
    <ul class="flex gap-3">
      <a href="/ooad/frontend/homepage/index.html">
        <li>home</li>
      </a>
      <a href="/ooad/frontend/homepage/about.html">
        <li>about</li>
      </a>
      <a href="/ooad/frontend/homepage/contact.html">
        <li>contact</li>
      </a>
      <a href="/ooad/frontend/homepage/login.html">
        <li>login</li>
      </a>
    </ul>
  </nav>
    hello about
</body>
</html>