<!DOCTYPE html>
<!-- Base for all html pages -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/main.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Book On Rails</title>
</head>

<body>
    <header th:insert="~{base :: header}"></header>

    <div class="content-body container-fluid">
        <div class="container mt-5">
            <h1 class="text-muted" th:text="${message}">Change your password:</h1>
            <p class="text-danger" th:if="${param.error}" th:text="${param.error}"></p>

            <form class="details" method="post" action="/users/change-password" >
                <label class="form-label" for="oldPassword"> Old password: </label>
                <input class="form-control" type="password" id="oldPassword" name="oldPassword"
                    placeholder="Enter old password" required >
                <br />

                <label class="form-label" for="newPassword">New Password: </label>
                <input class="form-control" type="password" required id="newPassword" name="newPassword"
                    placeholder="Enter new password" >
                <br />

                <label class="form-label" for="confirmPassword"> Confirm new password: </label>
                <input class="form-control" type="password" required id="confirmPassword" name="confirmPassword"
                    placeholder="Confirm new password" >
                <br />

                <button style="width:100%;" class="btn btn-warning" type="submit" >Change Password</button>
            </form>



        </div>
    </div>

    <script th:src="@{/user.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

   
</body>

</html>