<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Train List</h2>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Train Number</th>
                    <th>Train Name</th>
                    <th>Train Type</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="train : ${trains}">
                    <td th:text="${train.trainNo}"></td>
                    <td th:text="${train.trainName}"></td>
                    <td th:text="${train.trainType}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
